<nav class='navbar navbar-default bg-light'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/dashboard'>
                Charity Tracker
            </a>
        </div>
        <div class='pull-right'>
            <div>
                <nav class="navbar navbar-light ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="p-4">
                        <div class='col'>
                            <a href='/dashboard' class="text-muted">Dashboard</a>  
                        </div>
                        <div class="col">
                            <a href='/donations/new' class="text-muted">Make a Donation</a>
                        </div>
                        <div class="col">
                            <a href='/donations' class="text-muted">View Your Donations and Charities</a>
                        </div>
                        <div class="col">
                            <a href='/user' class="text-muted">User Settings</a>
                        </div>
                        <div class="col">
                            <a href='/logout' class="text-muted">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>