
{% extends 'base.html' %}

{% block content %}
    <h2 class='text-center mt-4'>Hello {{ user_obj.username }}!</h2>
    <div class="row justify-content-md-center text-center mt-5">
        <div class="col-3 bg-light py-4">
            <h6>Total Contribution</h6>
            <p>$placeholder</p>
        </div>
        <div class="col-3 bg-light py-4">
            <h6>Total Donations</h6>
            <p>placeholder</p>
        </div>
        <div class="col-3 bg-light py-4">
            <h6>Total Charities Donated To</h6>
            <p>placeholder</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="container">
            <div class="col-12 d-flex justify-content-center">
                <a href='/donations/new' class="btn btn-primary mr-2">Make a Donation</a>
                <a href='/donations/{{ user._id }}' class="btn btn-primary ml-2">View Your Donations and Charities</a>
            </div>
        </div>
    </div>
{% endblock %}
