<!-- templates/donations_new.html -->
{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/donations'>
            <input type='hidden' value='{{ user_obj.username }}' name='username'/>
            {% include 'partials/donations_form.html' %}
            <!-- BUTTON -->
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Make Donation</button>
            </div>
        </form>
        <a href="/dashboard">Back to Dashboard</a>
    </div>
</div>
{% endblock %}
