<!-- templates/user_edit.html -->
{% extends 'base.html' %}

{% block content %}
    <div class='text-center'>
        <form method='POST' action='/user/{{ user._id }}/update'>
            <input type='hidden' name='_method' value='PUT'/>
            <div class="row d-flex justify-content-center mt-4">
            <div class="field my-1 mx-2">
                <label class="label">Change Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="username" placeholder="Username" value='{{ user.username }}'>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field my-1 mx-2">
                <label class="label">Reset Password</label>
                <p class="control has-icons-left">
                <input class="input" type="password" name="password" placeholder="Password" value='{{ user.password }}'>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                </p>
            </div>
            <div class="field my-1 mx-2">
                <label class="label">Re-Enter Password</label>
                <p class="control has-icons-left">
                <input class="input" type="password" name="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                </p>
            </div>
            </div>
            <!-- BUTTON -->
            <div class='form-group d-flex justify-content-center mb-4'>
                <button class='btn btn-primary' type='submit'>Save</button>
                <a href='/user' class='btn btn-primary mx-2'>Back</a>
            </div>
        </form>
    </div>
{% endblock %}
